* {
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: Cambria;
}

#h-logo {
    font-family: "Segoe UI";
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;
    width: 100%;
}

#h-logo a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
}

nav {
    width: 100%;
    text-align: center;
}

nav ul {
    list-style-type: none;
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: #222222;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.2s, color 0.2s;
}

nav li a:hover {
    color: white;
    background-color: #222222;
}

footer {
    width: 100%;
    font-size: 0.75em;
    text-align: center;
    color: #555555;
}